/node_modules
/public/hot
/public/css
/public/js
/public/storage
/storage/*.key
/vendor
.composer/cache
.php-cs-fixer.cache
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
storage/logs/*
docker/nginx/sites/default.conf
public/mix-manifest.json
*Zone.Identifier
